body {
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
* :focus {
  outline: none;
}
img {
  display: block;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section2 {
  padding-top: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-border {
  border-bottom: 1px solid var(--almost-white);
}
.header-box {
  display: flex;
  flex: row;
  align-items: center;
  gap: 93px;
  padding: 24px 15px 25px 15px;
}
.nav-box {
  display: flex;
  flex-direction: row;
  gap: 46px;
}
.logo {
  text-decoration: none;
  color: var(--black);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.contact-box {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 50px;
}
:root {
  --blue: #2196f3;
  --grey: #757575;
  --black: #000;
  --dark-grey: #2f303a;
  --white: #fff;
  --creme: #f5f4fa;
  --almost-white: #ececec;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
}
.color-blue {
  color: var(--blue);
}
.lists {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-icons {
  fill: var(--grey);
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links {
  color: var(--grey);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links {
  color: #212121;
  position: relative;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-line::after {
  bottom: 0;
  content: "";
  position: absolute;
  display: block;
  background-color: var(--blue);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transform: translateY(33px);
}
.nav-links:hover,
.nav-links:focus,
.contact-links:hover,
.contact-links:focus,
.contact-icons:hover {
  color: var(--blue);
  fill: var(--blue);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.window {
  position: fixed;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.button-svg {
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: pointer;
}
.button-close {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: none;
  background-color: var(--white);
  position: absolute;
}
.article-icons-box {
  background-color: var(--creme);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.banner {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/background.jpg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 200px 452px;
}
.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}

.button-box {
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 41px;
}
.article-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}
.article-item {
  color: var(--grey);
  font-size: 14px;
  line-height: 24px;
}
.text-color {
  color: var(--white);
}

.second-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.overlay {
  position: relative;
}
.what-do-we-do-paragraph {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding: 27px 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-cards {
  background: var(--white);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-figcaption {
  text-align: center;
  padding: 16px 0;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.team-titles {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--grey);
}
.icons-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-bottom: 18px;
}
.icons {
  fill: var(--icons-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons:hover {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
.icons-links svg {
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-links:focus svg,
.icons-links:hover svg {
  fill: var(--white);
  background-color: var(--blue);
  border-radius: 50%;
}
.clients-icons-item {
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 17px 32px;
}
.svg-clients-links svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-clients-links:focus svg,
.svg-clients-links:hover svg {
  fill: var(--blue);
  border-radius: 4px;
  border: 1px solid var(--blue);
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  height: 38px;
  background-color: var(--creme);
  border: none;
  cursor: pointer;
  line-height: 1.62;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}
.portfolio-button-all,
.portfolio-button-marketing {
  width: 121px;
}
.portfolio-button-sites {
  width: 93px;
}
.portfolio-button-apps {
  width: 114px;
}
.portfolio-button-design {
  width: 91px;
}
.portfolio-button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-cards-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-cards-figcaption {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white);
  z-index: 2;
  position: relative;
}
.portfolio-cards-item {
  position: relative;
  overflow: hidden;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-cards-overlay {
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms;
  padding: 49px 45px 0 24px;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--white);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards-item:hover .portfolio-cards-overlay {
  transform: translateY(0);
}
.team-background {
  background-color: var(--creme);
}

.title-cards {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-cards {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.footer-background {
  background-color: var(--dark-grey);
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 60px 0;
}
.icons-footer-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-icons {
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-box-two-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 0 20px 0;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-style: normal;
  padding-top: 20px;
}
