body {
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section2 {
  padding-top: 0;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-border {
  border-bottom: 1px solid var(--almost-white);
}
.header-box {
  display: flex;
  flex: row;
  align-items: center;
  gap: 93px;
  padding: 24px 15px 25px 15px;
}
.nav-box {
  display: flex;
  flex-direction: row;
  gap: 46px;
}
.logo {
  text-decoration: none;
  color: var(--black);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.contact-box {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 50px;
}
:root {
  --blue: #2196f3;
  --grey: #757575;
  --black: #000;
  --dark-grey: #2f303a;
  --white: #fff;
  --creme: #f5f4fa;
  --almost-white: #ececec;
  --border-color: #eeeeee;
}
.color-blue {
  color: var(--blue);
}
.lists {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-links {
  color: var(--grey);
}
.nav-links {
  color: #212121;
}
.nav-links:hover,
.contact-links:hover,
.contact-links:focus {
  color: var(--blue);
}

.portfolio-button-box:hover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.banner {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 200px 452px;
}
.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}

.button-box {
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 41px;
}
.article-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}
.article-item {
  color: var(--grey);
  font-size: 14px;
  line-height: 24px;
}
.text-color {
  color: var(--white);
}

.second-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.team-cards {
  background: var(--white);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-figcaption {
  text-align: center;
  padding: 30px 0;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.team-titles {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--grey);
}

.portfolio-button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  height: 38px;
  background-color: var(--creme);
  border: none;
  cursor: pointer;
  line-height: 1.62;
  border-radius: 4px;
}
.portfolio-button-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}
.portfolio-button-all,
.portfolio-button-marketing {
  width: 121px;
}
.portfolio-button-sites {
  width: 93px;
}
.portfolio-button-apps {
  width: 114px;
}
.portfolio-button-design {
  width: 91px;
}
.portfolio-button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-cards-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-cards-figcaption {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.team-background {
  background-color: var(--creme);
}
.footer-background {
  background-color: var(--dark-grey);
}
.title-cards {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-cards {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-style: normal;
}
